h1 {color: fuchsia; font-style: normal;
    Font-family: Papyrus; font-weigth: bolder;
    Font-size: 40px;
}

p{color: #ffbffd; font-style: italic; Font-family: Papyrus;
    Font-size: 25px; font-weight: bold;
}

h2 {color: indigo; font-style: normal; font-family: "Times New Roman";
    font-size: 18px; font-weight: bold;
}

ul {color: black; font-style: normal; font-family: "Times New Roman";
font-size: 15px; font-weight: normal;
}
h3 {color: black; font-weight: bold; font-size: 15px;
}
h4 {color: black; font-weight: bold; font-size: 15px;
}