h1 {color: indigo; font-style: normal;
    Font-family: Papyrus; font-weigth: bolder;
    Font-size: 40px;
}

p{color: turquoise; font-style: italic; Font-family: Papyrus;
    Font-size: 25px; font-weight: bold;
}

h2 {color: indigo; font-style: normal; font-family: "Times New Roman";
    font-size: 18px; font-weight: bold;
}

ul {color: black; font-style: normal; font-family: "Times New Roman";
font-size: 15px; font-weight: normal;
}
h3 {color: black; font-weight: bold; font-size: 15px;
}

h4 {color: black; font-weight: bold; font-size: 15px;
}

body {background-color: blanchedalmond;
    background-image: url("http://img02.deviantart.net/aecf/i/2015/113/a/6/eiffel_tower_watercolor_v2_by_lovelustlost-d5ozfsr.png");
}
h5 {color: black; font-weight: bold; font-size: 15px;
}

h6 {color: black; font-weight: bold; font-size: 15px;
}